<div class="container">
  <div class="error-wrap">
    <div class="error">
      <div class="logo">
        <img src="../../../assets/icons/png/logo.png" alt="">
        <h4>ADMERA&IA</h4>
      </div>

      <div class="content">
        <img src="../../../assets/icons/png/notfound_icon.png" alt="">
        <div class="description">
          <h1>Page among Developers</h1>
          <p>— Coming Back Stronger, Better, Prettier!</p>
        </div>
      </div>

      <button class="back-button" (click)="goBack()">
        Go Back
      </button>
    </div>
  </div>
</div>