<div class="forgot-password-wrap">
  <div class="forgot-password">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group">
        <div class="adm-input-wrap">
          <div class="title">
            Forgot password
          </div>
          <div class="adm-input-custom">
            <div class="adm-input-top">
              <label for="email">Email</label>
            </div>
            <input
              type="text"
              id="email"
              placeholder="Email"
              formControlName="email"
            >
          </div>
          <div
            *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
            class="validation"
          >
            <small *ngIf="errors('email').required">
              Email field cannot be empty.
            </small>
            <small *ngIf="errors('email').email">
              Please enter a valid email.
            </small>
          </div>
        </div>
      </div>
      <div class="validation" *ngIf="errorMessage">
        <small>{{ errorMessage }}</small>
      </div>
      <div class="button">
        <button
          type="submit"
          [disabled]="form.invalid"
        >Send</button>
      </div>
    </form>
  </div>
</div>
<adm-loader-logo [loading]="loading"></adm-loader-logo>
