.forgot-password-wrap{
    height: 100%;

  .forgot-password{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

  form{
    width: 100%;
    max-width: 420px;
    width: 100%;
  }
  .title{
    color: #F93D68;
    font-family: "Mulish";
    font-weight: bold;
    font-size: 2.4rem;
    margin-bottom: 32px;
  }
  .button{
    display: flex;
    width: 100%;
  }

  button{
    outline: none;
    border: 0;
    padding: 10px 35px;
    background: #C14862;
    color: #ffffff;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    margin: 15px 0px;
    &[disabled]{
      opacity: .4;
      cursor: auto;
    }
  }


}
