<div class="reset-password-wrap">
  <div class="reset-password">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group">
        <div class="adm-input-wrap">
          <div class="title">
            Reset password
          </div>
          <div class="adm-input-wrap">
            <div class="adm-input-custom">
              <div class="adm-input-top">
                <label for="email">Your email</label>
              </div>
              <input class="disabled" type="text" id="email" [value]="email" [disabled]="true">
            </div>
          </div>
          <div class="adm-input-custom">
            <div class="adm-input-top">
              <label for="password">Password</label>
            </div>
            <input type="password" id="password" placeholder="Enter your password" formControlName="password">
          </div>
          <div class="validation" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
            <small *ngIf="errors('password').minlength">
              {{"Password cannot be less: " +
              errors("password").minlength?.requiredLength +
              ' You entered: ' + errors("password").minlength?.actualLength
              }}
            </small>
          </div>
        </div>
        <div class="adm-input-wrap">
          <div class="adm-input-custom">
            <div class="adm-input-top">
              <label for="password_confirmation">Confirm password</label>
            </div>
            <input type="password" id="password_confirmation" placeholder="Enter your confirm password"
              formControlName="password_confirmation">
          </div>
          <div class="validation"
            *ngIf="form.get('password_confirmation')?.invalid && form.get('password_confirmation')?.touched">
            <small *ngIf="errors('password_confirmation').minlength">
              {{"Password cannot be less: " +
              errors("password_confirmation").minlength?.requiredLength +
              ' You entered: ' + errors("password_confirmation").minlength?.actualLength
              }}
            </small>
          </div>
          <div *ngIf="passwordMatchError" class="validation">
            <small>Password does not match</small>
          </div>
        </div>
      </div>
      <div class="validation" *ngIf="errorMessage">
        <small>{{ errorMessage }}</small>
      </div>
      <div class="button">
        <button type="submit" [disabled]="form.invalid">Update password</button>
      </div>
    </form>
  </div>
  <adm-loader-logo [loading]="loading"></adm-loader-logo>
</div>