.client-layout {
  display: flex;
  width: 100%;
  height: 100%;
}

.status {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 4px;
  line-height: normal;
}

.buttons {
  display: flex;
  justify-content: center;

  .btn {
    height: 36px;
    width: 36px;
    border-radius: 6px;
    margin: 2px;

    &.review {
      border: 1px solid #4ea079;
    }
    &.edit {
      border: 1px solid #f1a33c;
    }
  }
}

.dialog-remove-title {
  text-align: center;
}

.dialog-remove-content {
  text-align: center;
}

.dialog-remove-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.filters {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;

  .row {
    display: flex;
    gap: 20px;
    width: 100%;

    &:not(:first-child) {
      margin-top: 18px;
    }

    adm-search-autocomplete,
    adm-combobox {
      width: 100%;
      max-width: 420px;
    }
  }
}
